/*
 * judgeapp.js
 */
/* Please Delete      ALL CODE HERE IS FOR NEW SLEDGE TITLE
 <h1 class="vectro"><span class="vectro-body">Sledge</span>
 <span class="vectro-blue">I</span>
 <span class="vectro-blue">I</span>
 <span class="vectro-blue">I</span></h1>


CSS
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

body{
	
	background-color: olive;
	
}

.vectro {
  position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px #f1f1f1;
  font-family: 'Righteous', cursive;
  font-size: 160px;
  margin: 150px 0 50px 0;
}

.vectro:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*-webkit-animation:vectro_effect 0.067s infinite;*/
/* Temporary please delete
  background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);
}


/* please delete
.windows .vectro {
  -webkit-text-stroke: 4px #f1f1f1;
}

.vectro-body {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
  -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
}

.vectro-red {
  color: #F10C20;
  -webkit-text-fill-color: #F10C20;
  -webkit-text-stroke: 0;
  -webkit-filter: drop-shadow(2px 2px 15px #F10C20);
  font-style: italic;
  padding-right: 20px;
}

.windows .vectro-red {
  padding-right: 30px;
}

.vectro-green {
  color: #6BFF2B;
  -webkit-text-fill-color: #6BFF2B;
  -webkit-filter: drop-shadow(2px 2px 15px #6BFF2B);
  -webkit-text-stroke: 0;
  font-style: italic;
  padding-right: 20px;
  margin-left: -20px;
}

.windows .vectro-green {
  padding-right: 30px;
  margin-left: -30px;
}

.vectro-blue {
  color: #3F59F4;
  -webkit-text-fill-color: #3F59F4;
  -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
  -webkit-text-stroke: 0;
  font-style: italic;
  padding-right: 20px;
  margin-left: -20px;
}

.windows .vectro-blue {
  padding-right: 30px;
  margin-left: -30px;
}
 Please Delete */