/*
 * project.css
 */

.project-comp {
  margin: 15px;
  color: white;
  	text-shadow: 2px 2px #000000;
  text-align: center;
}
@media screen and (max-width:600px){
	.project-title{
	font-size:20px;
	}
}

@media screen and (max-width:600px){
	.project-title{
	font-size:18px;
	}
}
@media screen and (max-width:400px){
	.project-title{
	font-size:16px;
	}
}
@media screen and (max-width:339px){
	.project-title{
	font-size:12px;
	}
}

.project-description {
  text-indent: 10px;
  color: white
}

@media screen and (min-width:800px){
	.project-title{
	font-size:20px;
	}
}