/*
 * superlatives.css
 */

.superlatives-comp {
  margin: 15px;
}

.superlatives-comp h2 {
  text-align: center;
}

.superlatives-name {
    width: 110px;
}
@media screen and (min-width:484px){
    width: 38%;
}

.superlatives-chosen {
  width: 62%;
}

.superlatives-item {
  margin: 15px 10px;
  padding: 10px;
  border-left: 10px solid #000;
}

.superlatives-actions {
  width: 100%;
}

.superlatives-dirty {
  font-style: italic;
}

.superlatives-actions .btn-group {
  width: 100%;
}

.superlatives-actions .btn {
  width: 79px;
  height: 80px;
  cursor: pointer;
}
@media screen and (min-width:484px){
    .superlatives-actions .btn {
	width: 50%;
    }
}
