/*
 * toolbar.css
 */

.toolbar-comp {
  display: flex;

  width: 100%;
  padding: 20px;
}

.toolbar-title {
  width: 30%;
  text-align: center;
  margin: auto auto;
}

.toolbar-title h1 {
  font-family: Helvetica Neue, Helvetica;
  font-size: 24px;
}

.toolbar-buttons {
}

.toolbar-buttons button {
  cursor: pointer;
}

.toolbar-prev {
}

.toolbar-list {
}

.toolbar-next {
}

.toolbar-no-text {
    color: #007bff;
}
.toolbar-no-text:hover {
    color: #007bff;
}
