/*
 * ratingbox.css
 */

$pf: ratingbox;

.#{$pf}-comp button {
  height: 80px;
  cursor: pointer;
}

.ratingbox-noshow {
  text-align: center;
}

.ratingbox-noshow button {
    	width: 180 px;
}
@media screen and (min-width:400px){
    .ratingbox-noshow button {
	width: 60%;
    }
}

.ratingbox-catname {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.ratingbox-comp .btn-group {
  padding: 10px;
  width: 100%;
}

.ratingbox-category button {
  width: 16.66%;
}

.ratingbox-selected {
  background: green;
}

.ratingbox-dirty .ratingbox-selected {
  background: yellow;
}

.ratingbox-summary {
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.ratingbox-totalselected {
  float: left;
  width: 50%;
}

.ratingbox-totalchosen {
  float: right;
  width: 50%;
}

.ratingbox-totalselected .ratingbox-invalid {
  color: red;
  text-shadow: 1px 1px #000000;
}

.ratingbox-submit button {
  width: 100%;
}
