/*
 * toolbar.css
 */
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);
.toolbar-comp {
  display: flex;

  width: 100%;
  padding: 20px;
}

.toolbar-title {
  width: 30%;
  text-align: center;
  margin: auto auto;
}

.toolbar-title h1 {
  font-family: Helvetica Neue, Helvetica;
  font-size: 24px;
}

.toolbar-buttons {
}

.toolbar-buttons button {
  cursor: pointer;
}

.toolbar-prev {
}

.toolbar-list {
}

.toolbar-next {
}

.toolbar-no-text {
    color: #007bff;
}
.toolbar-no-text:hover {
    color: #007bff;
}


