# this specifies that there is a WSGI server running on port 8000
upstream app_server_djangoapp {
    server localhost:8000 fail_timeout=0;
}

# Nginx is set up to run on the standard HTTP port and listen for requests
server {
  listen 80;

  # requests that do not fall under /static are passed on to the WSGI
  # server that was specified above running on port 8000
  location /socket {
    proxy_redirect off;

    if (!-f $request_filename) {
      proxy_pass http://app_server_djangoapp;
      break;
    }
  }

  # nginx should serve up static files and never send to the WSGI server
  location / {
    autoindex on;
    alias /<path to sledge>/sledge/static;
  }

}
