# this specifies that there is a WSGI server running on port 8000
user <you>;

events{
  worker_connections 4096;
}

# Nginx is set up to run on the standard HTTP port and listen for requests
http{
  server {
    autoindex on;
    sendfile on;

    listen 80;
  
    # requests that do not fall under /static are passed on to the WSGI
    # server running on 8080
    location /socket {
      proxy_redirect off;
  
      if (!-f $request_filename) {
        proxy_pass http://localhost:8080;
        break;
      }
    }
  
    # nginx should serve up static files and never send to the WSGI server
    location /static {
      autoindex on;
      alias /<path to sledge>/sledge/static;
    }
  
  }
}
