#loginForm {
  margin: 10px;
}

body {
  margin: 35px;
}

#loginForm button {
  width: 100%;
  padding: 10px;

  margin: 10px 0px;
}


.hidden {
  display: none;
}

/********************
 * Colors (●＾o＾●)(＾ｖ＾)(＾ｕ＾)(＾◇＾) ( ^)o(^ )(^O^)(^o^)(^○^))^o^( (*^▽^*)(✿◠‿◠)
 */
.sledge-primary {
    color: white;
    background-color: #80935e;
}

.sledge-secondary {
    color: #80935e;
    background-color: #dbd9b1;
}