/********************
 * Overall
 */

.judge-container {
  flex-direction: column;

  border: solid 2px;
  border-radius: 10px;
}

/********************
 * Toolbar Component
 */

.toolbar-comp {
  display: flex;

  width: 100%;
  padding: 20px;
}

.toolbar-title {
  width: 30%;
  text-align: center;
  margin: auto auto;
}

.toolbar-title h1 {
  font-family: Helvetica Neue, Helvetica;
  font-size: 24px;
}

.toolbar-buttons {
  width: 70%;
}

.toolbar-buttons button {
  cursor: pointer;
}

.toolbar-prev {
  width: 40%;
}

.toolbar-list {
  width: 20%;
}

.toolbar-next {
  width: 40%;
}

/********************
 * Judge Info
 */

.judgeinfo-comp {
  margin: 10px auto;
}

.judgeinfo-name {
  font-weight: bold;
}

/********************
 * Project Component
 */

.project-comp {
  margin: 15px;
}

.project-description {
  text-indent: 10px;
}

.project-noshow {
  width: 100%;
  cursor: pointer;
}

/********************
 * RatingBox Component
 */

.ratingbox-comp button {
  height: 80px;
  cursor: pointer;
}

.ratingbox-catname {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.ratingbox-comp .btn-group {
  padding: 10px;
  width: 100%;
}

.ratingbox-category button {
  width: 16.66%;
}

.ratingbox-selected {
  background: green;
}

.ratingbox-dirty .ratingbox-selected {
  background: yellow;
}

.ratingbox-summary {
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.ratingbox-totalselected {
  float: left;
  width: 50%;
}

.ratingbox-totalchosen {
  float: right;
  width: 50%;
}

.ratingbox-totalselected .ratingbox-invalid {
  color: red;
}

.ratingbox-submit button {
  width: 100%;
}

/********************
 * Superlatives Component
 */

.superlatives-comp {
  margin: 15px;
}

.superlatives-comp h2 {
  text-align: center;
}

.superlatives-name {
  width: 38%;
}

.superlatives-chosen {
  width: 62%;
}

.superlatives-item {
  margin: 15px 10px;
  padding: 10px;
  border-left: 10px solid #000;
}

.superlatives-actions {
  width: 100%;
}

.superlatives-dirty {
  font-style: italic;
}

.superlatives-actions .btn-group {
  width: 100%;
}

.superlatives-actions .btn {
  width: 25%;
  cursor: pointer;
}
