/********************
 * Overall
 */

.judge-container {
  flex-direction: column;

  border: solid 2px;
  border-radius: 10px;
}

/********************
 * Toolbar Component
 */

.toolbar-comp {
  display: flex;

  width: 100%;
  padding: 20px;
}

.toolbar-title {
  width: 30%;
  text-align: center;
  margin: auto auto;
}

.toolbar-title h1 {
  font-family: Helvetica Neue, Helvetica;
  font-size: 24px;
}

.toolbar-buttons {
  width: 70%;
}

.toolbar-buttons button {
  cursor: pointer;
}

.toolbar-prev {
  width: 40%;
}

.toolbar-list {
  width: 20%;
}

.toolbar-next {
  width: 40%;
}

/********************
 * Judge Info
 */

.judgeinfo-comp {
  margin: 10px auto;
}

.judgeinfo-name {
  font-weight: bold;
}

/********************
 * Project Component
 */

.project-comp {
  margin: 15px;
}

.project-description {
  text-indent: 10px;
}

.project-noshow {
  width: 100%;
}

/********************
 * RatingBox Component
 */

.ratingbox-comp .btn-group-vertical {
  width: 100%;
}

.ratingbox-comp button {
  cursor: pointer;
  padding: 15px;
}

.ratingbox-top-left {
  border-bottom-left-radius: 0px;
}

.ratingbox-bottom-right {
  border-top-right-radius: 0px;
}

.ratingbox-selected, .ratingbox-selected:hover {
  background: yellow;
}

.ratingbox-chosen, .ratingbox-chosen:hover {
  background: green;
}
