#setupPage {
  .btn-group, .btn-group-vertical {
    width: 100%;

    button { width: 100%; }
  }

  label {
    width: 100%;
  }

  h2 {
    margin-top: 15px;
  }

  .input-group {
    margin: 10px 0px;
  }
}
