#judgePage {
  .header {
    text-align: center;
    margin: 24px auto 0 0;

    h1 {
      font-family: Helvetica Neue, Helvetica;
      font-size: 30px;
    }
  }

  .judgeinfo {
    text-align: center;
    color: #818182;
  }

  .hacklist {
    button {
      cursor: pointer;
    }
  }

  @import "Toolbar.scss";
}
