{% extends "layout.html" %}
{% block title %}Submission View{% endblock %}
{% block content %}

<div class="item">
  <div class="banner">
    <h2>Items</h2>
  </div>
  <div class="info">
    <table id="items">
      <thead>
        <tr>
          <th data-sort-method="caseInsensitiveSort">Name</th>
          <th data-sort-method="number">Location</th>
          <th data-sort-method="caseInsensitiveSort">Description</th>
          <th data-sort-method="number">Seen</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ item.name | safe }}</td>
          <td>{{ item.location | safe }}</td>
          <td class="preserve-formatting">{{ item.description | safe }}</td>
          <td>{{ item_counts.get(item.id, 0) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="{{ url_for('static', filename='js/vendor/tablesort.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/tablesort.number.js') }}"></script>
<script>new Tablesort(document.getElementById('items'));</script>
{% endblock %}
