#loginForm {
  margin: 10px;
}

body {
  margin: 35px;
}

#loginForm button {
  width: 100%;
  padding: 10px;

  margin: 10px 0px;
}


.hidden {
  display: none;
}

.sledge-primary {
    color: white;
    background-color: #80935e;
}

.sledge-secondary {
    color: #80935e;
    background-color: #dbd9b1;
}
@media screen and (max-width:468px){
.start {
	display:none;
}
}

#message {
	color:white;
	text-shadow: 0.5px 0.5px #000000
	
}